{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
      <title>
        TopTopics
      </title>
    </head>


    <body>





<header class="masthead clear">
        <div class="centered">
            
            <div class="site-branding">
                <h1 class="site-title">TopTopics: Tech News</h1>
            </div><!-- .site-title -->
        </div><!-- .centered -->
</header><!-- .masthead -->
    



    <main class="main-area">
        
        <div class="centered">

            <section class="cards">
                

                {% for topic in topics %}

                <article class="card">
                        <div class="card-content">

                            <h2>{{ topic }}</h2>
            
                        </div><!-- .card-content -->
                </article><!-- .card -->

                {% endfor %}

            </section><!-- .cards -->
           
        </div><!-- .centered -->
        
      </main>










    </body>
  </html>