{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
      <link rel="manifest" href="{% static 'manifest.json' %}">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
      <title>
        TopTopics
      </title>
    </head>


    <body>





<header class="masthead clear">
        <div class="centered">
            
            <div class="site-branding">
                <h1 class="site-title">TopTopics: Tech News</h1>
            </div><!-- .site-title -->
        </div><!-- .centered -->
</header><!-- .masthead -->
    



    <main class="main-area">
        
        <div class="centered">

            <section class="cards">
                

                {% for topic in topics %}

                <article class="card">
                        <div class="card-content">

                            <h2>{{ topic }}</h2>
            
                        </div><!-- .card-content -->
                </article><!-- .card -->

                {% endfor %}

            </section><!-- .cards -->
           
        </div><!-- .centered -->
        
      </main>










    </body>


    <script>
  if ('serviceWorker' in navigator) {
    console.log("Will the service worker register?");
    navigator.serviceWorker.register('service-worker.js')
      .then(function(reg){
        console.log("Yes, it did.");
      }).catch(function(err) {
        console.log("No it didn't. This happened: ", err)
      });
  }
</script>

  </html>